*{
    margin: 0;
    padding: 0;
}

body{
    font-family: calibri;
    background: url(https://raw.githubusercontent.com/WineDevs/Wine-Launcher-Site/main/static/images/background.png);

}



.wrapper{
    align-self: center;
    margin-top: 50px;
   display: flex;
   justify-content: center;
}

.wrapper>img{
    width: 90px;
}
.disp{
    
    margin-left: 25px;

}

.disp>h2{
    font-weight: 600;
    font-size: 35px;
    display: block;
    color: #fff;
}

.disp>h4{
    font-weight: 400;
    font-size: 30px;
    display: block;
    color: #fff;
}

.but>a{
    font-size: 20px;
    font-weight: 700;
    color: #fff; 
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    padding: 7px 15px;
    transition: .3s;
    border-radius: 5px;
}

.but>a:hover{
    box-shadow: 0 0 15px rgb(226, 84, 84);
    transition: .5s;
    background-color: rgb(226, 84, 84) ;
}

.but>a:active{
    transition: .1s;
    filter: blur(1px);
}

.but{
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

@keyframes body {
    
}

