body {
    background-image: url('https://raw.githubusercontent.com/WineDevs/Wine-Launcher-Site/main/static/images/background.png');
}

h1, a, p, span {
    color: white;
    font-family: 'Bahnschrift';
}

.main_text {
    position: absolute;
    left: 30%;
    font-size: 70pt;
}

.sub_text {
    position: absolute;
    left: 30%;
    top: 15%;
    font-size: 50pt;
}

.logo {
    position: absolute;
    left: 5%;
    top: -40%;
    transform: scale(0.3);
}

.button-3 {
    position: absolute;
    left: 46%;
    top: 55%;
    transform: scale(3);
    appearance: none;
    background-color: #919191;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
  animation: hover_anim 0.5s ease-in-out both;
}

.button-3:active {
    background-color: #820000;
}

@keyframes hover_anim {
    from {
        background-color: #787878;        
    }

    to {
        background-color: #820000;
    }

}
